{{!-- this is the main page for the app--}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
    
    <title>oTravelTo</title>
  </head>

  <body> 
<div class="container">

  <header>
    <h2><a href="#"><i class="ion-plane"></i>oTravelTo</a></h2>
    <nav>
      <ul>
        <li>
          <a href="#" title="Hotels"> New Places</a>
        </li>
        <li>
          <a href="#" title="Flights">Hotels</a>
        </li>
        <li>
          <a href="#" title="Tours">Profile</a>
        </li>
        <li>
          <a class="btn" href="#" title="Register / Log In">Register/Log In</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="cover">
    <h1>Discover Colorado.</h1>
    <form  class="flex-form">
      <label for="from">
        <i class="ion-location"></i>
      </label>
      <input type="search" placeholder="Where do you want to go?">
      <input type="submit" value="Search">
    </form>
    <div id="madeby">
      <span>
        Photo by <a href="https://images.unsplash.com/photo-1468711007652-03aab17ae4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" target="_blank">Peter Pryharski

</a>
      </span>
    </div>
  </div>

</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>