{{!-- this is the main page for the app--}}
<link src = "">

<div class="container">

  <header>
    <h2><a href="#"><i class="ion-plane"></i>oTravelTo</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/locations" title="Locations"> Locations</a>
        </li>
        <li>
          <a href="/activities" title="Activities">Activities</a>
        </li>
        <li>
          <a href="/users" title="Profile">Profile</a>
        </li>
        <li>
          <a class="btn" href="/login" title="Register/Log In">Register/Log In</a>
        </li>
      </ul>
    </nav>
  </header>
   
  <div class="cover">
    <h1>Discover Colorado.</h1>

    <form  class="flex-form">
      <label for="location">
      </label>
      <input type="search" placeholder="Where do you want to go?"/>
      <button class="btn btn-danger" type="submit">Search</button>

    <form class="flex-form">
      <label for="from">
        <i class="ion-location"></i>
      </label>
      <input type="search" placeholder="Where do you want to go?">
      <input type="submit" value="Search">
      <button type="submit" value="Search"></button>

    </form>
    <div id="madeby">
      <span>
        Photo by <a
          href="https://images.unsplash.com/photo-1468711007652-03aab17ae4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
          target="_blank">Peter Pryharski

        </a>
      </span>
    </div>
  </div>

</div>