<div class="container">

  <header>
    <h2><a href="/"><i class="ion-plane"></i>oTravelTo</a></h2>
    <nav>
      <ul>
        <li>
          <a class="btn" href="/locations" title="Locations">Locations</a>
        </li>
        <li>
          <a class="btn" href="/users/:id" title="Profile">Profile</a>
        </li>
        <li>
          <a class="btn" href="/api/login" title="Register / Log In">Register/Log In</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="main">
    <h1>Our Colorado Destinations To Visit </h1>
  </section>

  <section class="gallery">



    <ul>
      {{#each locations}}
      {{> locations/location-block}}
      {{/each}}
    </ul>
    <button id="pin" class="button group" value="user-pin" data-type="userPin">Let's Go</button>
    <button id="remove-pin" class="button group" value="user-pin-remove" data-type="remove-userPin">Been there!</button>

  </section>

  <footer>

  </footer>

</div>