<div class="container">
 
  <header>
    <h2><a href="/"><i class="ion-plane"></i>oTravelTo</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/locations" title="Locations"> Locations</a>
        </li>
        <li>
          <a href="/activities" title="Activities">Activities</a>
        </li>
        <li>
          <a href="/users" title="Profile">Profile</a>
        </li>
        <li>
          <a class="btn" href="/userlogin" title="Register / Log In">Register/Log In</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="main">
    <h1>Our Colorado Destinations To Visit </h1>
  </section>

  <section class="gallery">

    

    <ul>
      {{#each locations}}
      {{> locations/location-block}}
      {{/each}}
    </ul>

  </section>

  <footer>
  
  </footer>

</div>