{{!--This will be like a user sign in page, after they have created their accounts --}}
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label for="tab-1" class="tab">Sign
            In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <form class="sign-in-htm">
                <div class="group">
                    <label for="user">Username</label>
                    <input class="input" id="user" type="text" name="user-name" data-user="user-name">
                </div>
                <div class="group">
                    <label for="pass">Password</label>
                    <input id="pass" class="input" type="password" name="pass" data-pass="password">
                </div>
                <div class="group">

                    <button value="Sign-In" class="group" class="login" class="button" type="submit"
                        class="btn btn-primary btn-lg" id="sign-in">Sign In</button>
                </div>

            </form>
            <div class="sign-up-htm">
                <form>
                    <div class="group">
                        <label for="new-user" class="label">Username</label>
                        <input id="new-user" type="text" class="input" data-type="user-name" name="username" />
                    </div>
                    <div class="group">
                        <label for="first-name" class="label">First Name</label>
                        <input type="text" id="fname" class="input" data-type="first-name" name="first-name" />
                    </div>
                    <div class="group">
                        <label for="last-name" class="label">Last Name</label>
                        <input type="text" id="lname" class="input" data-type="last-name" name="last-name" />
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass-create" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repeat Password</label>
                        <input id="pass-repeat" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Email Address</label>
                        <input id="email" type="text" class="input">
                    </div>
                    <div>
                        <button class="group" class="button" class="login" type="submit" class="btn btn-primary btn-lg"
                            id="signup">Sign
                            Up</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/travel.js"></script>