<div class="container">

  <header>
    <h2>
      <i class="ion-plane"></i><i class="far fa-compass"></i> <a href="/">TravelTo</a>
    </h2>
    <nav>
      <ul>
        <li>
          <a href="/locations" title="Locations">Locations</a>
        </li>
        <li>
          <a href="/users" title="Profile">{{username}}</a>
        </li>
        <li>
          <a class="btn" href="/login" title="Register / Log In">Register/Log In</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="main">
    <h1>Places You Visited </h1>
  </section>

  <section class="gallery">
    <ul>
      {{#each locations}}
      {{#unless wasVisited}}
      {{> locations/location-block visited=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </section>

  <footer>

  </footer>

</div>